* {
    box-sizing: border-box;
    /*cursor: none;*/
}

*:before,
*:after {
    box-sizing: border-box
}

html {
    font-family: “Helvetica Neue”, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scroll-behavior: smooth;
    -webkit-font-smoothing: subpixel-antialiased;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Akagi", “Helvetica Neue”, sans-serif;
    color: #000;
    background-color: #f5faff;
    overscroll-behavior: none;
}

html, body {
    height: 100%;
    width: 100%;
}

main {

}

a {
    text-decoration: none;
    color: #000;
}

a:active,
a:hover {
    outline: 0
}

a:hover,
a:focus {
    text-decoration: none !important;
    transition: 0.3s;
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

img {
    vertical-align: middle
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 100;
}

h1 {
    font-family: sans-serif;
    margin-bottom: .09615em;
    font-weight: 200;
    letter-spacing: -.025em;
    line-height: 1.11538;
}

h2 {
    font-family: sans-serif;
    margin-bottom: .09615em;
    font-weight: 200;
    letter-spacing: -.025em;
    line-height: 1.11538;
}

h3 {
    font-family: sans-serif;
    margin-bottom: .09615em;
    letter-spacing: -.025em;
    line-height: 1.11538;
    font-size: 32px;
}

h4 {
    font-family: sans-serif;
    margin-bottom: .09615em;
    font-weight: 200;
    letter-spacing: -.025em;
    line-height: 1.11538;
}


p {
    margin: 0;
    font-size: 18px;
}

b {
    font-weight: bold;
}

img {
    width: 100%;
    height: auto;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

input, textarea {
    border-radius: 0;
    -webkit-appearance: none;
}

input, textarea, button {
    border: none;
}

input, textarea, select, a:focus {
    outline: none;
}

input, textarea, select, a {
    outline: none;
}

.home {
    display: flex;
}

.main {
    width: 92%
}
