	.hide_quest{
		display: none;
	  }
	  
	  .quest {
		opacity: 1;
		background-color: #f5faff;
		width: 100%;
		border-radius: 15px;
		padding: 10px;
		margin-bottom: 15px;
		color: #000;
	  }

	  .quest_points_elektric {
		  font-size: 12px;
		  padding-bottom: 10px;
		  color:#000;
		  span {
			color:$primary;
			font-weight: bold;
		  }
	  }

	  .quest_points_water {
		font-size: 12px;
		padding-bottom: 10px;
		color:#000;
		span {
		  color:$secondary;
		  font-weight: bold;
		}
	}

	.quest_points_gas {
		font-size: 12px;
		padding-bottom: 10px;
		color:#000;
		span {
		  color:$third;
		  font-weight: bold;
		}
	}
	  
	  .quest:hover .hide_quest{
		font-size: 14px;
		display: block;
		margin-bottom: 10px;
		transition: all 1s;
	  }
	  .quest:hover .ripple-button{
		  display: block;
	  }
	  .quest:hover .quest_button{
		display: block;
		transition: all 1s;
	  }
	  
	  .quest_header {
		font-family: 'Noto Sans JP', sans-serif;
		font-size: 16px;
		padding-bottom: 5px;
		span {
			font-family: 'Noto Sans JP', sans-serif;
			font-weight: 500;
		}
	  }
	  
	  .bar{
		width: 330;
		height: 15px;
		background-color: #e2e2e2;
		border-radius: 10px;
		padding: 3px;
		margin-bottom: 10px;
	  }
	  
	  .filling{
		height: 100%; 
		border-radius:10px;
	  }

	  .bar>.water {
		width: 80%;
	  }

	  .bar>.elektric {
		width: 30%;
	  }

	  .bar>.gas {
		width: 50%;
	  }
	  
	  .quest_button{
		cursor:pointer;
		display: none;
		border-radius: 8px;
		margin-bottom: 5px;
		background-color: $secondary;
		padding: 7px;
		color: #fff;
		margin-top: 4px;
		padding-left: 10px;
		padding-right: 10px;
		font-size: 13px;
	  }
	  .water{
		background-color:	$secondary;
	  }
	  .elektric{
		background-color:	$primary;
	  }
	  .gas{
		background-color:	$third;
	  }

	  .water-trans{
		background-color:	$secondary-fade;
	  }
	  .elektric-trans{
		background-color:	$primary-fade;
	  }
	  .gas-trans{
		background-color:	$third-fade;
	  }
	  
	  .arrow {
		display: inline-block;
		width: 8px;
		height: 8px;
		border-top: 1.5px solid #000;
		border-right: 1.5px solid #000;
		margin-left: 50%;
		
		animation-name: out;
		animation-duration: .5s;
		animation-fill-mode: forwards;
	  
	  }
	  .quest:hover .arrow {
		animation-name: in;
		animation-duration: .5s;
		animation-fill-mode: forwards;
	  }
	  
	  @keyframes out {
		from  {transform: rotate(-45deg);}
		to   {transform: rotate(135deg);}
	  }
	  
	  @keyframes in {
		from  {transform: rotate(135deg);}
		to   {transform: rotate(-45deg);}
	  }
