header {
    padding: 0 0 50px;
    z-index: 99;
    background-color: transparent;
    position: relative;

    nav {
        position: relative;

        .navLeft {
            position: absolute;
            top: 0;
            left: 0;
            display: inline-flex;

            li {
                margin: 0 40px 0 0;

                h1 {
                    font-size: calc(.02909*100vw + -5.09091px);
                    font-weight: bold;
                }

                a {
                    font-size: 16px;
                }
            }
        }

        .navRight {
            position: absolute;
            top: 5px;
            right: 0;
            
            display: flex;

            p {
                font-size: 14px;
            }

            svg {
                width: 15px;
                margin-left: 10px;
            }
        }
    }

}