.remove {
  transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: none !important;
}

.modal {
  opacity: 1;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(46, 46, 46, 0.356);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.modal.enter-done {
  opacity: 1;
  pointer-events: visible;
}

.modal.exit {
  opacity: 0;
}

.modal-content {
  width: 55%;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  transform: translateY(-200px);
  text-align: center;
  padding: 50px 40px 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 0px 0px 0px #f6f6f7;
}

.modal.enter-done .modal-content {
  transform: translateY(0);
}

.modal.exit .modal-content {
  transform: translateY(-200px);
}

.modal-header,
.modal-footer {
  text-align: center;
}

.modal-title {
  margin: 0;
  padding-bottom: 10px;
}

.modal-body {
  padding-bottom: 10px;

  .close-container {
    padding: 4px 6px;
    border-radius: 6px;
    background-color: #8624dc;
    display: block;
    margin-bottom: 7px;
  }
}

.modal_button{
  text-align: center;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 5px;
  background-color: #8624dc;
  margin: 10px 20px;
  font-size: 15px;
  font: 15px Arial, sans-serif;
  cursor:pointer;
}