.tiles {
    display: flex;

    .tilesContainer-full {
        width: 100%;
        height: 100%;


        .tile-full {
            display: block;
            padding: 0 20px;
            width: 100%;
            color: #000;
            height: calc(80vh + 10px);
            border-radius: 12px;
            box-shadow: 1px 0px 0px 0px #f6f6f7;

            .react-tabs {

                .react-tabs__tab-list {
                    margin-bottom: 0;
                    border: none;

                    .react-tabs__tab {
                        border: none;
                        background: #dfdfdf;
                        border-radius: 5px 5px 0 0;
                        margin-right: 4px;
                        padding: 8px 18px;
                    }

                    .react-tabs__tab--selected {
                        background: #ffffff;
                        color: $primary;
                        font-weight: 900;
                    }
                }
                
                .react-tabs__tab-panel {
                    background-color: #fff;
                    padding: 20px 40px;
                    border-radius: 0 10px 10px 10px;
                }
            }

            .tile_title {
                display: flex;
                padding-bottom: 20px;
    
                span {
                    padding: 4px 7px;
                    background-color: $primary-fade;
                    border-radius: 55px;
    
                    svg {
                        margin-top: 1px;
                        margin-left: 1px;
                        fill: $primary;
                        width: 17px;
                    }
                }
                h2 {
                    font-weight: bold;
                    padding: 5px 0 0 10px;
                    font-size: calc(.02909*100vw + -10.09091px);
                }
    
            }
        }
    }

    .tilesContainer {
        width: 50%;
        height: 100%;

    .tile8x8 {
        display: block;
        padding: 20px;
        width: 100%;
        background-color: #fff;
        color: #000;
        height: calc(80vh + 10px);
        border-radius: 12px;
        box-shadow: 1px 0px 0px 0px #f6f6f7;
        overflow: hidden;

        .tile_title {
            display: flex;
            padding-bottom: 10px;

            span {
                padding: 4px 7px;
                background-color: $secondary-fade;
                border-radius: 55px;

                svg {
                    margin-top: 1px;
                    margin-left: 1px;
                    fill: $secondary;
                    width: 17px;
                }
            }
            h2 {
                font-weight: 400;
                padding: 6px 0 0 10px;
                font-size: calc(.02909*100vw + -15.09091px);
            }

        }

        
    
    }

    .tilesInnerContainer {
        height: 100%;
        padding-bottom: 5px;
    }

    .tile8x4 {
        display: block;
        padding: 20px;
        width: 95%;
        height: 40vh;
        border-radius: 12px;
        position: relative;
        background-color: #fff;
        box-shadow: 1px 0px 0px 0px #f6f6f7;

        .tile_title {
            display: flex;
            padding-bottom: 5px;

            span {
                padding: 4px 7px;
                background-color: $primary-fade;
                border-radius: 55px;

                svg {
                    margin-top: 1px;
                    margin-left: 1px;
                    fill: $primary;
                    width: 17px;
                }
            }
            h2 {
                font-weight: 400;
                padding: 6px 0 0 10px;
                font-size: calc(.02909*100vw + -15.09091px);
            }

        }

        .graph_schedule {
            position: absolute;
            right: 20px;
            top: 22px;

            a {
                font-size: 12px;
            }


            svg {
                height: 10px;
                width: 10px;
                margin-left: 10px;
                transform: rotate(90deg);
            }
        }

        .graph_date {
            display: flex;
            align-items: center;   
            justify-content: center;

            ul {
                display: flex;
                position: relative;
                padding-left: 34px;
                
                li {
                    color: #a2acb8;
                    font-size: 12px;
                    padding: 0 20px 0 0;
                }


            }
        }

        .graph_info {
            display: flex;
            align-items: center;   
            justify-content: center;

            #electricity,#gas,#water {
                display: flex;
                padding-right: 10px;

                span {
                    padding: 4px 6px;
                    border-radius: 50px;
                    height: 9px;
                    margin-top: 3px;
                }

                p {
                    padding-left: 10px;
                    color: #a2acb8;
                    font-size: 12px;
                }

            }

            #electricity { span {background-color: $primary;}}
            #gas{ span {background-color: $third;}}
            #water{ span {background-color: $secondary;}}
        }
    }

    .tile4x4 {
        display: block;
        padding: 20px;
        display: inline-block;
        width: calc(50% - 10px);
        height: calc(40vh);
        border-radius: 12px;
        flex:1 1 auto;
        box-shadow: 1px 0px 0px 0px #f6f6f7;

        h2 {
            font-weight: 500;
            color: #000;
            padding: 10px 0 0 10px;
            font-size: calc(.02909*100vw + -10.09091px);
        }
    }

    #tile4x4Left {
        padding-right: 5px;
        background-color: #fff;
        margin-right: 10px;

        .tile_title {
            display: flex;
            padding-bottom: 10px;
            text-align: center;

            span {
                padding: 4px 7px;
                background-color: #f3fdfe;
                border-radius: 55px;

                svg {
                    margin-top: 1px;
                    margin-left: 1px;
                    fill: $third;
                    width: 17px;
                }
            }
            h2 {
                font-weight: 400;
                padding: 6px 0 0 10px;
                font-size: calc(.02909*100vw + -15.09091px);
            }
        }

        .point {
            h3 {
                font-weight: 600;
                margin: 0 0 5%;
                font-size: calc(.02909*100vw + -10.09091px);
                color: $third;
            }

            p {
                margin-bottom: 10px;
                font-size: calc(.02909*100vw + -16.09091px);

                span {
                font-weight: 600;
                color: $third;
                }
            }

            button {
                border-radius: 8px;
                margin-bottom: 5px;
                background-color: #637677;
                padding: 9px;
                color: #fff;
                padding-left: 10px;
                padding-right: 10px;
                font-size: 15px;
            }
        }
    }

    #tile4x4Right {
        background-color: #fff;

        .Bitmoji {
            text-align: center;
        
            img {
                width: 57%;
            }
        }

        .tile_title {
            display: flex;
            padding-bottom: 20px;

            span {
                padding: 4px 7px;
                background-color: $primary-fade;
                border-radius: 55px;

                svg {
                    margin-top: 1px;
                    margin-left: 1px;
                    fill: $primary;
                    width: 17px;
                }
            }
            h2 {
                font-weight: 400;
                padding: 6px 0 0 10px;
                font-size: calc(.02909*100vw + -15.09091px);
            }
        }
    }
}

#tilesContainerLeft {
    padding-right: 5px;
    width: 40%;
}

#tilesContainerRight {
    padding-left: 5px;
    flex: 1;

    .tilesInnerContainer:nth-child(2) {
        padding-top: 5px;
        display: flex;
        width: 95%;
      }
}
}