$softblue: #ffffff;
$darkblue: #22478b;
$mediumblu: #1E272D;

.close-container{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.leftright{
  height: 3px;
  width: 22px;
  position: absolute;
  margin-top: 12px;
  background-color: $softblue;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all .3s ease-in;
}

.rightleft{
  height: 3px;
  width: 22px;
  position: absolute;
  margin-top: 12px;
  background-color: $softblue;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all .3s ease-in;
}
.close{
  margin: 60px 0 0 5px;
  position: absolute;
}

.close-container:hover .leftright{
  transform: rotate(-45deg);
  background-color: $darkblue;
}
.close-container:hover .rightleft{
  transform: rotate(45deg);
  background-color: $darkblue;
}