.main {
    display: flex;

    .tilesContainer {
        width: 50%;
        height: 100%;

    .tile8x8 {
        padding: 20px;
        width: 100%;
        background-color: #aeadad;
        color: #fff;
        height: 80vh;
        border-radius: 25px;
        -webkit-box-shadow: 2px 2px 3px 0px #c3c3c3;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    2px 2px 3px 0px #c3c3c3;  /* Firefox 3.5 - 3.6 */
        box-shadow:         2px 2px 3px 0px #c3c3c3;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

        h2 {
            font-weight: bold;
        }
    
    }

    .tilesInnerContainer {
        height: 100%;
        padding-bottom: 10px;
    }

    .tile8x4 {
        padding: 20px;
        width: 100%;
        height: 40vh;
        border-radius: 25px;

        background-color: #b1c8ca;
        -webkit-box-shadow: 2px 2px 3px 0px #c3c3c3;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    2px 2px 3px 0px #c3c3c3;  /* Firefox 3.5 - 3.6 */
        box-shadow:         2px 2px 3px 0px #c3c3c3;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

        h2{
            font-weight: bold;
            color: white
        }
    }

    .tile4x4 {
        padding: 20px;
        display: inline-block;
        width: 50%;
        height: 40vh;
        border-radius: 25px;
        flex:1 1 auto;


        -webkit-box-shadow: 2px 2px 3px 0px #c3c3c3;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    2px 2px 3px 0px #c3c3c3;  /* Firefox 3.5 - 3.6 */
        box-shadow:         2px 2px 3px 0px #c3c3c3;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

        h2 {
            font-weight: bold;
            color: grey;
        }
    }

    #tile4x4Left {
        padding-right: 5px;
        background-color: #e9effe;
    }

    #tile4x4Right {
        background-color: #fdf8e1;
    }
}

#tilesContainerLeft {
    padding-right: 10px;
}

#tilesContainerRight {
    padding-left: 10px;
    flex: 1;
}
}